<style>
  li {
    margin-bottom: 8px;
    list-style: none;
  }
</style>

<h1>Dragon Ball Page</h1>
<hr>
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre del personaje">
    <input type="number" name="power" id="power" class="form-control mt-2" placeholder="Poder del personaje">
    <button type="submit" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Lista de personajes</h3>
    <ul>
      @for (character of characters(); track character.id; let i = $index) {
        @if (character.powerLevel > 5000) {
          <li>
            <span>{{ i + 1 }}- {{ character.name }}</span>
            <strong class="badge mx-2" [ngClass]="getBadgeClass(character)">
              {{ character.powerLevel }}
            </strong>
          </li>
        } @else {
          <li>
            <span>{{ i + 1 }}- {{ character.name }}</span>
            <span class="badge bg-secondary mx-2">
              Nivel bajo
            </span>
          </li>
        }
      }
    </ul>
  </div>
</section>
