<h3>{{ listName() }}</h3>
<ul>
  @for (character of characters(); track i; let i = $index) {
    @if (character.powerLevel > 5000) {
      <li>
        <span>{{ i + 1 }}- {{ character.name }}</span>
        <strong class="badge mx-2" [ngClass]="getBadgeClass(character)">
          {{ character.powerLevel }}
        </strong>
      </li>
    } @else {
      <li>
        <span>{{ i + 1 }}- {{ character.name }}</span>
        <span class="badge bg-secondary mx-2">
          Nivel bajo
        </span>
      </li>
    }
  }
</ul>
