<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 1rem;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
</style>

<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contador</a>
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Heroes</a>
  <a routerLink="/dragonball" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dragon Ball</a>
</nav>
